*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: #FAFAFA;
    --grey: #c2c2c2;
    --primary-background: #F0F0F0;
    --minion-yellow: #ffe74cff;
    --fiery-rose: #ff5964ff;
    --white: #ffffffff;
    --prussian-blue: #17375aff;
    --blue-jeans: #35a7ffff;
    --blue-jeans-less: rgb(98, 187, 255);
    --blue-jeans-lesser: rgb(205, 233, 255);
    --shadow-box: 10px 10px 20px #17375aff;
}

body{
    background-color: var(--background);
    color: var(--prussian-blue);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    a{
        text-decoration: none;
        color: var(--blue-jeans);
        &:hover{
            color: var(--prussian-blue);
        }
    }
}

.wrapper{
    display: flex;
    .menu-bar-icon{
        padding: .5rem;
        position: fixed;
        border: 2px solid;
        top: 1rem;
        left: 1rem;
        border-radius: 7px;
        background-color: var(--white);
        font-size:30px;
        cursor: pointer;
        z-index: 7;
    }
    .menu{
        position: sticky;
        left: 0;
        top: 0;
        z-index: 1;
        flex-basis: 40%;
        background-color: var(--blue-jeans-less);
        width: 100%;
        height: 100vh;
        padding: 2rem 1rem 1rem 1rem;
        border-right: 5px solid var(--fiery-rose);
        .closebtn {
            position: absolute;
            top: 0;
            right: 10px;
            font-size: 36px;
            cursor: pointer;
        }
        .continuation1{
            display: none;
        }
        .continuation2{
            display: none;
        }
        h3{
            font-weight: normal;
        }
        a{
            color: var(--prussian-blue);;
            &:hover{
                text-decoration: underline;
            }
        }
        ol{
            list-style: none;
            padding-top: 2rem;
        }
        .menu-games-list{
            padding: 1rem;
            margin: 1rem;
            list-style: decimal;
        }
        .social-icons{
            position: absolute;
            left: 0;
            bottom: 5%;
            display: grid;
            gap: .5rem;
            width: 100%;
            font-size: 1rem;
            border-top: 1px solid;
            border-bottom: 1px solid;
            padding: 1rem;
            box-shadow: 0px -2px 10px black;
            color: var(--primary-background);
            background-color: var(--blue-jeans);
        }
        h1{
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 5px;
            border: 2px dashed;
            margin-top: 1rem;
            .m{
                color: rgb(255, 221, 0);
                font-size: 2.1rem;
                font-weight: 800;
            }
            .h{
                color: rgb(132, 3, 218);
            }
            .e{
                color: rgb(124, 2, 2);
            }
            .a{
                color: rgb(63, 49, 253);
            }
            .n{
                color: rgb(0, 255, 234);
            }
            .b{
                color: rgb(102, 255, 161);
                font-size: 2.3rem;
                font-weight: 800;
            }
        }
        footer{
            position: absolute;
            left: 5%;
            bottom: 1%;
            font-weight: 900;
            text-align: center;
            padding-bottom: .5rem 0;
        }
    }
    .main-content{
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem 1rem 1rem;
        h2{
            color: var(--fiery-rose);
        }
        .content-intro{
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                width: 80%;
            }
        }
        h2, h3{
            text-align: center;
            padding: 1rem 0;
        }
        .content-intro p{
            padding: 1rem;
            background-color: var(--primary-background);
            border-radius: 10px;
        }
        .games{
            p{
            padding: 1rem;
            background-color: var(--primary-background);
            border-radius: 10px;
            width: 80%;
            margin: 1rem auto;
            }
            .game{
                display: flex;
                flex-direction: column;
                align-items: center;
                .h3-subh{
                    border: 2px dashed rgb(153, 153, 153);
                    margin: 1rem 0;
                    width: 100%;
                    background-color: var(--blue-jeans-lesser);
                    text-transform: uppercase;
                }
                .examples{
                    font-weight: 800;
                    color: var(--blue-jeans);
                    border-top: 1px dashed;
                    margin-top: 1rem;
                    width: 100%;
                }
                .how-to{
                    color: var(--fiery-rose);
                }
                }
            }
            .independant-game{
                border: 1px solid var(--blue-jeans);
                border-radius: 10px;
                box-shadow: var(--shadow-box);
                padding: 1rem;
                width: 70%;
                margin: 0 auto;
                text-align: center;
                .the-game{
                    .oops{
                        color: var(--fiery-rose);
                        font-weight: 700;
                    }
                    h3{
                        text-transform: uppercase;
                        font-size: 2.5rem;
                        font-weight: 100;
                        color: var(--blue-jeans);
                        text-decoration: underline;
                        letter-spacing: 4px;
                        span{
                            color: var(--fiery-rose);
                            font-weight: 500;
                        }
                    }
                    .greenNum{
                        color: green;
                        font-weight: 700;
                    }
                }
                .individual-numbers, .plus{
                    font-size: 3rem;
                }
                input{
                    width: 300px;
                    padding: 1rem;
                    margin: .5rem;
                    font-size: 1.2rem;
                    border: none;
                    border-radius: 30px;
                    background-color: var(--primary-background);

                }
                button{
                    width: 150px;
                    padding: 1rem;
                    margin: .5rem;
                    font-size: 1.2rem;
                    border-radius: 30px;
                    cursor: pointer;
                }
                .gameBtns-submit{
                    border: 2px solid var(--blue-jeans);
                    &:hover{
                        background-color: var(--blue-jeans);
                        color: var(--white);
                    }
                }
                .gameBtns-reload{
                    border: none;
                    background-color: var(--fiery-rose);
                    color: var(--white);
                    &:hover{
                        background-color: var(--blue-jeans);
                    }
                }
        }
        .steps-and-illustrations{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: center;
            justify-items: center;
            gap: 2rem;
            width: 80%;
            padding: 1rem;
            .illustrations{
                display: grid;
                grid-template-rows: 1fr 2fr;
                gap: .5rem;
                width: 400px;
                height: 400px;
                font-weight: bold;
                .above{
                    position: relative;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    border: 2px solid var(--blue-jeans);
                    border-top-right-radius: 20px;
                    border-left: 2px dashed var(--grey);
                    .ill-p{
                        padding-top: 1.5rem;
                        color: var(--grey);
                        font-style: italic;
                        font-weight: normal;
                    }
                }
                .below{
                    border: 2px solid var(--blue-jeans);
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    box-shadow: -5px 5px 5px var(--grey);
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                    align-items: center;
                    position: relative;
                    .green{
                        border: 2px solid var(--blue-jeans);
                    }
                    .red{
                        border: 2px solid red;
                    }
                    .steps{
                        text-align: center;
                    }
                    .indicator{
                        align-self: start;
                    }
                    .r, .x, .y, .rx2, .xx2, .yx2{
                        position: absolute;
                    }
                    .r{
                        top: 40px;
                        left: 185px;
                        color: red;
                    }
                    .rx2{
                        top: 45px;
                        left: 330px;
                        color: red;
                    }
                    .g{
                        color: var(--blue-jeans);
                    }
                    .x{
                        top: 40px;
                        left: 239px;
                    }
                    .xx2{
                        top: 45px;
                        left: 239px;
                    }
                    .y{
                        top: 40px;
                        left: 286px;
                    }
                    .yx2{
                        top: 45px;
                        left: 286px;
                    }
                }
                .list{
                    font-size: 2.5rem;
                }
                .indicator{
                    color: var(--grey);
                    padding: 5px;
                    font-style: italic;
                }
            }
        }
    }
}


@import './media';